<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <ul id="footer-list">
  			<li><a class="fab fa-facebook-square" href="https://www.facebook.com/jesus.gamez.182" title="Facebook" target="_blank"></a></li>
  			<li><a class="fab fa-twitter" href="https://twitter.com/BTC_brand" title="Twitter" target="_blank"></a></li>
  			<li><a class="fab fa-instagram" href="https://www.instagram.com/the_mended_barber/" title="Instagram" target="_blank"></a></li>
  		</ul>
    </div>
  </div>
</footer> 

<!-- <footer class="social-footer">
  <div class="social-footer-left">
    <a href="#"><img class="logo" src="https://placehold.it/150x30"></a>
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </div>
  <div class="social-footer-icons">
    <ul class="menu simple">
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer> -->

<!-- <footer class="footer">
  <a class="fa fa-facebook" href="https://www.facebook.com/jesus.gamez.182"></a>
  <i class="fab fa-facebook-square"></i>
</footer> -->
  