
<div id = header>
  <!-- <button onclick="window.open('https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar','_blank')" target='_blank' id = header2 type="button" class="btn btn-block btn-outline-primary btn-lg ">Get A Cut</button> -->
  <!-- <a href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar" target="_blank">
    It's more than a hair cut - it's an experience
  </a> -->
  <!-- Start Square Appointments Embed code --> 
  <a target="_blank"  href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barber" rel="nofollow">Book an Appointment</a> <!-- End Square Appointments Embed code -->
</div>
<div class="parallax"></div>
