@import "src/custom_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato');

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}

.parallax{
    background-image: url("src/assets/images/hero.jpg"); 
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#header{
  color: #ed8a63;
  border-color: #ed8a63;
  border-radius: 25px;
  background: #fffaf0;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 8%;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 15%;
}

#header2{
  color: #ed8a63;
  border-color: #ed8a63;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  font-family: 'Quicksand', sans-serif;
  font-size: 250%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

#button-container {
  width: 100%;
}

.text-box{
	height: 600px;
	padding: 50px;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

