
<!-- <div id = header> -->
  <!-- <button onclick="window.open('https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar','_blank')" target='_blank' id = header2 type="button" class="btn btn-block btn-outline-primary btn-lg ">Get A Cut</button> -->
  <!-- <a href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar" target="_blank">
    It's more than a hair cut - it's an experience
  </a> -->
  <!-- Start Square Appointments Embed code --> 
  <!-- <div class="hero-info-container"></div>
  <div class="book-now-container"></div> -->
  <!-- <a target="_blank"  href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barber" rel="nofollow">Book an Appointment</a> <!-- End Square Appointments Embed code -->
<!-- </div> -->
<!-- <div class="body-content">
  <div class="left-menu">
    <a target="_blank"  href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barber" rel="nofollow">Book an Appointment</a>
  </div>
  <div class="right-container">
    <img class="hero-image" src="../assets/images/hero.jpg"> -->
    <!-- <div class="middle-view">def</div>
    <div class="right-view">ghi</div> -->
  <!-- </div>
</div> -->
<!-- <slideshow [imageUrls]="imageUrlArray"></slideshow> -->
<!-- <div class="parallax"> -->
  <div  class="swiper-container" [swiper]="config" [swiper]="autoplayConfig" >
    <div class="swiper-wrapper">
      <div *ngFor="let slide of slides" class="swiper-slide">
        <img src ={{slide}}>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- <button mat-raised-button>Basic</button> -->
<!-- </div> -->

<!-- <swiper [config]="config"> -->
<!-- <div class="swiper-container"> -->
  <!-- <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../assets/images/hero.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/hero-2.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/hero2.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/IMG_5726.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/IMG_5722.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/hero.jpg" />
    </div>
  </div> -->
  <!-- Add Pagination -->
  <!-- <div class="swiper-pagination"></div> -->
  <!-- Add Arrows -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
<!-- </div> -->
<!-- </swiper> -->




<!-- <div class="swiper-container"> 
	<div class="swiper-wrapper" id="gallery_wrapper">
	  <div class="swiper-slide"><img src= "https://cdn.pixabay.com/photo/2018/01/18/19/06/time-3091031__340.jpg"></div>
    <div class="swiper-slide"><img src= "https://cdn.pixabay.com/photo/2017/09/30/22/16/rail-2803725__340.jpg"></div>
    <div class="swiper-slide"><img src= "https://cdn.pixabay.com/photo/2017/06/06/06/03/freezing-earth-2376303__340.jpg"></div>
	</div> 
	<div class="swiper-button-next"></div>  
	<div class="swiper-button-prev"></div>  
	<div class="swiper-pagination"></div> 
  
</div> -->


