<nav class="navbar navbar-expand-lg">
  <!-- <a class="navbar-brand nav-text" id="logo-img" href="#"><img src="../assets/images/Original.png"></a> -->
  <a class="navbar-brand nav-text" href="#">The Mended Barber</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-text" href="#">My Story<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar" target="_blank">Make An Appointment</a>
      </li>
    </ul>
  </div>
</nav>