@import "src/custom_variables";
@import "node_modules/bootstrap/scss/bootstrap";

.nav-text  {
  color: $laundry-blue;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  color: #ed8a63;
}

.navbar-brand {
  display:inline-block; 
}

.navbar-brand img {
 max-height: 100%;
 max-width: 10%;
}

#logo-img {
  margin-right: -28em;
}