<div>
  <h3>Services</h3>
</div>
<div class="services-container">
  <div class="services-left">
    <div class="service-item-div">
      <span class="currency">$25</span>
      <h4>Men's Haircut</h4>
      <p>Traditional Haircut/ Fade / Taper includes straight razor shave on hair line, around the ears, and the neck</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Styling</h4>
      <p>This service includes free hair wash. Hair will be blow dried and styled with hair product to custmers desried hair style.</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Enhancements</h4>
      <p>TThis service is to create a temporary darker hairline and fade. Usually asked for before going out on the weekends or an event. Hair fibers do not last if hair line is rubbed off or if customer sweats it off.</p>
    </div>

  </div>
  <div class="services-right">
    <div class="service-item-div">
      <span class="currency">$25</span>
      <h4>Men's Haircut</h4>
      <p>Traditional Haircut/ Fade / Taper includes straight razor shave on hair line, around the ears, and the neck</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Styling</h4>
      <p>This service includes free hair wash. Hair will be blow dried and styled with hair product to custmers desried hair style.</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Enhancements</h4>
      <p>TThis service is to create a temporary darker hairline and fade. Usually asked for before going out on the weekends or an event. Hair fibers do not last if hair line is rubbed off or if customer sweats it off.</p>
    </div>

  </div>
</div>

