<div>
  <h3>Services</h3>
</div>
<div class="services-container">
  <div class="services-left">
    <div class="service-item-div">
      <span class="currency">$25</span>
      <h4>Men's Haircut</h4>
      <p>Traditional Haircut/ Fade / Taper includes straight razor shave on hair line, around the ears, and the neck</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Styling</h4>
      <p>This service includes free hair wash. Hair will be blow dried and styled with hair product to custmers desried hair style</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Hair Enhancements</h4>
      <p>This service is to create a temporary darker hairline and fade. Usually asked for before going out on the weekends or an event. Hair fibers do not last if hair line is rubbed off or if customer sweats it off</p>
    </div>

  </div>
  <div class="services-right">
    <div class="service-item-div">
      <span class="currency">$10</span>
      <h4>Beard Trim</h4>
      <p>Beard shape up with trimmers/ clippers. Straight razor shave upon request</p>
    </div>
    <div class="service-item-div">
      <span class="currency">$5</span>
      <h4>Eyebrow Lineup</h4>
      <p>This service is done by a straight razor to eliminate stubble or to reshape eyebrows to the customers desired shape of eyebrows</p>
    </div>
    <div class="service-item-div">
      <span class="currency">FREE</span>
      <h4>Hair Shampoo</h4>
      <p>5 minute shampoo and conditioner</p>
    </div>
  </div>
</div>
<div>
  <button mat-flat-button  class="book-now" onClick="window.open('//squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar')" >Book Now</button>
</div>

