<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<!-- <script src="../assets/css/theme.scss"></script> -->
<!-- <script src="../assets/font-awesome/css/font-awesome.min.css"></script> -->
<!-- <script src="../assets/css/lightbox.scss"></script> -->
<script src="../assets/css/bootstrap.min.scss"></script>

<!-- <div id = header>
</div>
<div class="parallax">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5711.jpg">
    </div>
    <!-- <a href="" title="" data-fluidbox>
        <img src="../assets/images/IMG_5711.jpg" title="" alt="" />
    </a>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5712.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5713.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5714.jpg">
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5715.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5716.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5717.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5718.jpg">
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5719.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5721.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5722.jpg">
    </div>
    <div fxFlex="20%">
      <img mat-card-image class="img" src="../assets/images/IMG_5723.jpg">
    </div>
  </div>
</div> -->




<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<head>
<!-- favicon code -->
<!-- <link rel="icon" href="img/shutter-image.png"> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- <title>Europe | Garrett Graham</title> -->
<!-- Bootstrap Core CSS -->

<!-- Custom CSS -->
<!-- <link href="../assets/css/theme.scss" rel="stylesheet"> -->
<!-- Custom Fonts -->
<!-- <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->
<!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!-- [if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
<!-- Lightbox stuff -->
<!-- <link href="../assets/css/lightbox.scss" rel="stylesheet"> -->
</head>
<!-- <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="galleryType"> -->
<!-- Navigation -->
<!--<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html">
		GARRETT GRAHAM </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<!-- <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index.html">Home</a>
			</li>
			<li>
			<a href="portrait-photography.html">Portrait Photography</a>
			</li>
			<li>
			<a href="euro-photography.html">European Project</a>
			</li>
			<li>
			<a href="miscellaneous-stills.html">Miscellaneous Stills</a>
			</li>
			<li>
			<a href="contact.html">Hire me</a>
			</li>
		</ul>
	</div> -->
	<!-- /.navbar-collapse -->
<!-- </div> -->
<!-- /.container -->
<!-- </nav> -->
<!-- Intro Header -->

<!-- <header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">European Project</h1>
				<p class="intro-text">
					Buildings, Streets, People
				</p>
				<a (click)="scroll(portfolio)" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header> -->

<!-- <div id = header> -->
  <!-- <button onclick="window.open('https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar','_blank')" target='_blank' id = header2 type="button" class="btn btn-block btn-outline-primary btn-lg ">Get A Cut</button> -->
  <!-- <a href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barbershop-jacksonville-ar" target="_blank">
    It's more than a hair cut - it's an experience
  </a> -->
  <!-- Start Square Appointments Embed code -->
  <!-- <h1>Gallery</h1> -->
  <!-- <a target="_blank"  href="https://squareup.com/appointments/book/84P944HSXSB0Z/the-mended-barber" rel="nofollow">Book an Appointment</a> <!-- End Square Appointments Embed code -->
<!-- </div> -->
<!-- <div class="parallax">
  <h1>Gallery</h1>
  <i class="fas fa-chevron-down"></i>
</div> -->


<!-- Project Details Section -->
<!-- <section id="single-project">
<div class="container content-section text-center">
	<div class="row">
		<h2>What is this about?</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				Documenting my first excursion over the pond -- capturing the beauty of history that the U.S. can't offer
			</p>
			<p>
				<a href="contact.html" class="btnghost"><i class="fa fa-envelope"></i> Request similar project</a>
				<i style="font-size:12px;margin-right:3px;"> or </i>
				<a href="index.html#portfolio" class="btnghost"><i class="fa fa-camera"></i> Back to projects gallery</a>
			</p>
		</div>
	</div>
</div>
</section> -->
<!-- Portfolio Grid -->
<section id="portfolio">
<div class="gallery">
	<ul>
    <li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/dxlc83dg5z6lj2x/image1.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/dxlc83dg5z6lj2x/image1.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/jhr1iwa75fie1ag/image2.jpg?dl=0l" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/jhr1iwa75fie1ag/image2.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/w3avqaig55clbs5/image3.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/w3avqaig55clbs5/image3.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/9an0bq2ndbk38rw/image4.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/9an0bq2ndbk38rw/image4.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/ev0yiijh7vee7b6/image5.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/ev0yiijh7vee7b6/image5.jpg?dl=0" alt="">
		</a>
		</li>
		<!-- <li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/d2wjfnzulfe8mb3/image6.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/d2wjfnzulfe8mb3/image6.jpg?dl=0" alt="">
		</a>
		</li> -->
		<li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/gcteparlhrye2n8/image7.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/gcteparlhrye2n8/image7.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a  class="image" href="https://dl.dropboxusercontent.com/s/qh5ycoz0yq34e73/image8.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/qh5ycoz0yq34e73/image8.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/4paygz3ropytmdj/IMG_3913.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/4paygz3ropytmdj/IMG_3913.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/tw9dqj8j41jrnzh/IMG_3961.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/tw9dqj8j41jrnzh/IMG_3961.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/shu1l54a98kncq4/IMG_3919.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/shu1l54a98kncq4/IMG_3919.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/6fza1wui64jxi7v/IMG_4037.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/6fza1wui64jxi7v/IMG_4037.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/hvbzs9pmovuq9fv/IMG_4054.jpg?dl=0" data-lightbox="group-image">
		<img data-src="https://dl.dropboxusercontent.com/s/hvbzs9pmovuq9fv/IMG_4054.jpg?dl=0" alt="">
		</a>
		</li>
		<!-- <li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/gk05s86pdjfz8hw/IMG_4079.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/gk05s86pdjfz8hw/IMG_4079.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/6j6791fs141l7qo/IMG_3982.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/6j6791fs141l7qo/IMG_3982.jpg?dl=0" alt="">
		</a>
		</li>
		<li class="col-md-4">
		<a class="image" href="https://dl.dropboxusercontent.com/s/qckrkua68h6e5ti/IMG_4129.jpg?dl=0" data-lightbox="group-image">
		<img src="https://dl.dropboxusercontent.com/s/qckrkua68h6e5ti/IMG_4129.jpg?dl=0" alt="">
		</a>
		</li> -->
	</ul>
</div>
</section>
<!-- Contact Section -->
<!-- <section id="contact">
<div class="container content-section-small text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<ul class="list-inline banner-social-buttons">
				<li>
				<a href="https://twitter.com/miamigarrett" target="_blank" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
				</li>
				<li>
				<a href="https://www.instagram.com/garrett_graham/" target="_blank" class="btn btnghost btn-lg"><i class="fa fa-instagram fa-fw"></i><span class="network-name">instagram</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</section> -->
<!-- Footer -->
<!-- <footer>
<div class="container text-center">
	<p class="credits">
		Copyright &copy; Garrett Graham Photography 2017<br/>
		"Aries" Template by WowThemes.net
	</p>
</div>
</footer> -->
<!-- jQuery -->
<!-- <script src="../assets/js/jquery.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<!-- <script src="../assets/js/bootstrap.min.js"></script> -->
<!-- Plugin JavaScript -->
<!-- <script src="../assets/js/jquery.easing.min.js"></script> -->
<!-- Custom Theme JavaScript -->
<!-- <script src="../assets/js/theme.js"></script> -->
<!-- Custom Lightbox Script -->
<!-- <script src="../assets/js/lightbox.js"></script> -->
<!-- </body> -->
<!-- </html> -->
