<div class="h3-div">
  <h3 id="my-story-title">My Story</h3>
</div>
<!--<div class="hours-container">-->
  <!--<div class="company-about">-->
      <!--<p><i class="fas fa-quote-left"></i>&nbsp;&nbsp;-->
        <!--I want to thank you guys for being a part of the journey! My mission -->
        <!--is to provide the greatest quality haircut as well as great customer -->
        <!--service. You are the center of attention so you deserve to be treated -->
        <!--like a King when you're in the chair. I specialize in all haircuts so -->
        <!--don't shy away from being picky. I look forward to serving you!-->
      <!--&nbsp;&nbsp;<i class="fas fa-quote-right"></i></p>-->
  <!--</div>-->
  <!--<div class="profile-pic-div">-->
    <!--<img src="../assets/images/jesus_profile.jpg">-->
    <!--<h4>Jesus Gamez</h4>-->
  <!--</div>-->
  <!--<div class="company-hours">-->
    <!--<div class="days-div">-->
      <!--<ul class="days-list">-->
        <!--<li>Sunday:</li>-->
        <!--<li>Monday:</li>-->
        <!--<li>Tuesday:</li>-->
        <!--<li>Wednesday:</li>-->
        <!--<li>Thursday:</li>-->
        <!--<li>Friday:</li>-->
        <!--<li>Saturday:</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="hours-div">-->
      <!--<ul class="hours-list">-->
        <!--<li>Closed</li>-->
        <!--<li>9:00am - 9:00pm</li>-->
        <!--<li>9:00am - 9:00pm</li>-->
        <!--<li>9:00am - 9:00pm</li>-->
        <!--<li>9:00am - 9:00pm</li>-->
        <!--<li>9:00am - 9:00pm</li>-->
        <!--<li>Closed</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="services-container">
  <div class="services-left">
    <h4>Look Good.</h4>
    <h4 id="feel-good">Feel Good.</h4>
    <div class="company-about">
      <p><i class="fas fa-quote-left"></i>&nbsp;&nbsp;
        I want to thank you guys for being a part of the journey! My mission
        is to provide the greatest quality haircut as well as great customer
        service. You are the center of attention so you deserve to be treated
        like a King when you're in the chair. I specialize in all haircuts so
        don't shy away from being picky. I look forward to serving you!
        &nbsp;&nbsp;<i class="fas fa-quote-right"></i></p>
    </div>
    <div class="profile-pic-div">
      <img src="../assets/images/jesus_profile.jpg">
    </div>
    <!--<div class="service-item-div">-->
      <!--<span class="currency">$25</span>-->
      <!--<h4>Men's Haircut</h4>-->
      <!--<p>Traditional Haircut/ Fade / Taper includes straight razor shave on hair line, around the ears, and the neck</p>-->
    <!--</div>-->
    <!--<div class="service-item-div">-->
      <!--<span class="currency">$5</span>-->
      <!--<h4>Hair Styling</h4>-->
      <!--<p>This service includes free hair wash. Hair will be blow dried and styled with hair product to custmers desried hair style</p>-->
    <!--</div>-->
    <!--<div class="service-item-div">-->
      <!--<span class="currency">$5</span>-->
      <!--<h4>Hair Enhancements</h4>-->
      <!--<p>This service is to create a temporary darker hairline and fade. Usually asked for before going out on the weekends or an event. Hair fibers do not last if hair line is rubbed off or if customer sweats it off</p>-->
    <!--</div>-->

  </div>
  <div class="services-right">
    <div>
      <h4>Hours</h4>
      <div class="company-hours">
        <div class="days-div">
          <ul class="days-list">
            <li>Sunday:</li>
            <li>Monday:</li>
            <li>Tuesday:</li>
            <li>Wednesday:</li>
            <li>Thursday:</li>
            <li>Friday:</li>
            <li>Saturday:</li>
          </ul>
        </div>
        <div class="hours-div">
          <ul class="hours-list">
            <li>Closed</li>
            <li>9:00am - 9:00pm</li>
            <li>9:00am - 9:00pm</li>
            <li>9:00am - 9:00pm</li>
            <li>9:00am - 9:00pm</li>
            <li>9:00am - 9:00pm</li>
            <li>Closed</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact-me">
      <h4>Contact</h4>
      <div class="company-hours">
        <div class="days-div">
          <ul class="days-list">
            <p>(501) 813-6667‬</p>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
