@import "src/custom_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato');

.hours-container {
  background: #fffaf0;
  color: $laundry-blue;
  font-family: 'Roboto', sans-serif;
}

.company-about {
  float: left;
  width: 27%;
  margin: 70px 100px;
}

.company-hours {
  float: right;
  width: 27%;
  margin: 70px 100px;
}

.hours-list {
  list-style-type: none;
  float: right;
}

.days-list {
  list-style-type: none;
  float: left;
  font-weight: bold;
}

.days-div {
  display: inline-block;
}

.hours-div {
  display: inline-block;
  margin-left: 10%;
}