@import "custom_variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300,400,500,600,700');

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: #bfa694;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #bfa694;
  // background-image: linear-gradient(to bottom, #000000, #100f0f, #191919, #232222, #2c2b2b);
}

.swiper-pagination-bullet-active {
  background-color: #3895D3 !important;
}